/* line 5, ../scss/base/_base.scss */
body {
  background: white;
  font-family: "Roboto", sans-serif;
}
/* line 9, ../scss/base/_base.scss */
body p {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 300;
}
@media (max-width: 481px) {
  /* line 9, ../scss/base/_base.scss */
  body p {
    line-height: 1.45;
  }
}
/* line 19, ../scss/base/_base.scss */
body h2 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
}

/* line 5, ../scss/layout/_blocks.scss */
.wrap {
  padding: 50px 0;
}
/* line 13, ../scss/utilities/_mixins.scss */
.wrap__green--light {
  background-color: #9BC962;
}
/* line 8, ../scss/utilities/_mixins.scss */
.wrap__blue {
  background-color: #48C3E9;
}
/* line 8, ../scss/utilities/_mixins.scss */
.wrap__grey {
  background-color: #DDDAD7;
}
/* line 13, ../scss/utilities/_mixins.scss */
.wrap__grey--light {
  background-color: #F1F1F1;
}

/* line 9, ../scss/layout/_page.scss */
.page__home .slider__front + .wrap__green--light {
  border-top: 35px solid #81AC4C;
  text-align: center;
}
/* line 13, ../scss/layout/_page.scss */
.page__home .slider__front + .wrap__green--light p {
  font-size: 16px;
}
/* line 18, ../scss/layout/_page.scss */
.page__home .wrap__green--light {
  color: white;
}
/* line 22, ../scss/layout/_page.scss */
.page__home .wrap__blue {
  color: white;
  padding: 75px 0;
  display: block;
  position: relative;
  z-index: 0;
}
/* line 29, ../scss/layout/_page.scss */
.page__home .wrap__blue .col-sm-5 {
  text-align: center;
}
@media (max-width: 481px) {
  /* line 29, ../scss/layout/_page.scss */
  .page__home .wrap__blue .col-sm-5 {
    display: none;
  }
}
/* line 37, ../scss/layout/_page.scss */
.page__home .wrap__blue .col-sm-8 {
  padding-left: 0;
}
/* line 41, ../scss/layout/_page.scss */
.page__home .wrap__blue h2 {
  font-weight: 500;
  font-size: 43px;
}
/* line 46, ../scss/layout/_page.scss */
.page__home .wrap__blue:after {
  opacity: 0.2;
  background-image: url("../images/numbers_review.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  content: " ";
}
/* line 63, ../scss/layout/_page.scss */
.page__home .wrap__white {
  text-align: center;
}
/* line 65, ../scss/layout/_page.scss */
.page__home .wrap__white h2 {
  color: #3399BB;
  margin-bottom: 45px;
  font-size: 36px;
}
/* line 71, ../scss/layout/_page.scss */
.page__home .wrap__white p {
  color: #929292;
  margin-bottom: 45px;
}
/* line 77, ../scss/layout/_page.scss */
.page__home .wrap__white .col-sm-4 .img_wrap {
  background: #9BC962;
  padding: 22px 0;
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  margin-bottom: 25px;
}
/* line 90, ../scss/layout/_page.scss */
.page__home .wrap__white + .wrap__green--light h2 {
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 30px;
}
@media (max-width: 769px) {
  /* line 90, ../scss/layout/_page.scss */
  .page__home .wrap__white + .wrap__green--light h2 {
    font-size: 24px;
  }
}
/* line 100, ../scss/layout/_page.scss */
.page__home .wrap__white + .wrap__green--light p {
  font-size: 13px;
}
/* line 106, ../scss/layout/_page.scss */
.page__home .wrap__grey {
  color: #6E6B67;
}
/* line 109, ../scss/layout/_page.scss */
.page__home .wrap__grey h2 {
  font-size: 30px;
}
/* line 114, ../scss/layout/_page.scss */
.page__home .wrap__grey .col-sm-5 .name_wrap {
  background: #48C3E9;
  display: block;
  width: 351px;
  height: 351px;
  border-radius: 250px;
  text-align: center;
  padding: 25% 0;
  color: white;
}
@media (max-width: 769px) {
  /* line 114, ../scss/layout/_page.scss */
  .page__home .wrap__grey .col-sm-5 .name_wrap {
    width: 250px;
    height: 250px;
    padding: 30% 0;
  }
}
@media (max-width: 481px) {
  /* line 114, ../scss/layout/_page.scss */
  .page__home .wrap__grey .col-sm-5 .name_wrap {
    height: 200px;
    width: 200px;
    padding: 22% 0;
    margin-left: 20%;
    margin-bottom: 15%;
  }
}
/* line 139, ../scss/layout/_page.scss */
.page__home .wrap__grey .col-sm-5 .name_wrap h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 100px;
  font-style: italic;
}
@media (max-width: 769px) {
  /* line 139, ../scss/layout/_page.scss */
  .page__home .wrap__grey .col-sm-5 .name_wrap h2 {
    font-size: 70px;
  }
}
@media (max-width: 481px) {
  /* line 139, ../scss/layout/_page.scss */
  .page__home .wrap__grey .col-sm-5 .name_wrap h2 {
    font-size: 50px;
  }
}
/* line 156, ../scss/layout/_page.scss */
.page__home .wrap__grey h2 {
  font-weight: 300;
}
/* line 160, ../scss/layout/_page.scss */
.page__home .wrap__grey p {
  margin-bottom: 25px;
}
/* line 167, ../scss/layout/_page.scss */
.page__home .wrap__grey--light h2, .page__home .wrap__grey--light h2 + p {
  text-align: center;
}
/* line 171, ../scss/layout/_page.scss */
.page__home .wrap__grey--light h2 {
  color: #3399BB;
  font-weight: 400;
}
/* line 177, ../scss/layout/_page.scss */
.page__home .wrap__grey--light .col-sm-4 h3 {
  font-size: 24px;
  background: #9BC962;
  color: white;
  text-align: center;
  font-weight: 300;
  padding: 15px;
}
@media (max-width: 769px) {
  /* line 177, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light .col-sm-4 h3 {
    font-size: 16px;
  }
}
/* line 194, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap {
  text-align: center;
}
/* line 196, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap h2 {
  color: #3399BB;
}
/* line 200, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap i {
  font-size: 24px;
  font-weight: 400;
  color: #2FCDFF;
  margin-top: 25px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
/* line 210, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap .col-sm-6 {
  margin-bottom: 25px;
}
/* line 211, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap .col-sm-6 p {
  font-size: 13px;
}
/* line 218, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap .col-sm-8 p {
  font-size: 11px;
}
/* line 223, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul {
  float: left;
  width: 100%;
}
@media (max-width: 481px) {
  /* line 223, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul {
    padding-left: 0;
  }
}
/* line 231, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li {
  width: 19.5%;
  float: left;
  list-style-type: none;
  background: #F7F7F7;
  height: 325px;
  margin-right: 0.5%;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 769px) {
  /* line 231, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li {
    height: 270px;
  }
}
@media (max-width: 481px) {
  /* line 231, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
  }
}
/* line 251, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li:hover {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 254, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li:hover h3 {
  background-color: #9BC962;
}
/* line 258, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li:hover p {
  color: #9BC962;
}
/* line 262, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li:hover a {
  background: #48C3E9;
}
/* line 267, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li p {
  font-style: italic;
  font-style: italic;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2px;
  color: #BBB5B1;
  position: relative;
}
@media (max-width: 769px) {
  /* line 267, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li p {
    font-size: 50px;
  }
}
/* line 280, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li p:before {
  content: " $ ";
  position: absolute;
  font-size: 24px;
  left: 30%;
  top: 5%;
}
@media (max-width: 769px) {
  /* line 280, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li p:before {
    left: 15%;
    font-size: 20px;
  }
}
@media (max-width: 481px) {
  /* line 280, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li p:before {
    left: 36%;
    font-size: 28px;
  }
}
/* line 298, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li p:after {
  content: " / pm ";
  font-size: 14px;
  position: absolute;
  top: 60%;
  letter-spacing: 1px;
}
@media (max-width: 769px) {
  /* line 298, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li p:after {
    font-size: 12px;
  }
}
@media (max-width: 481px) {
  /* line 298, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li p:after {
    font-size: 16px;
  }
}
/* line 315, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li strong {
  float: left;
  margin-top: 15px;
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
  color: #707070;
  width: 100%;
}
@media (max-width: 769px) {
  /* line 315, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li strong {
    font-size: 16px;
  }
}
/* line 329, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li a {
  background: #BBB5B1;
  padding: 15px 25px;
  width: 85%;
  text-transform: uppercase;
  color: white;
  display: block;
  margin: 0 auto;
}
/* line 338, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li a:hover {
  background-color: #19a2cc;
  text-decoration: none;
}
@media (max-width: 769px) {
  /* line 329, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li a {
    padding: 15px 10px;
  }
}
/* line 348, ../scss/layout/_page.scss */
.page__home .wrap__grey--light + .wrap ul li h3 {
  width: 100%;
  background: #BBB5B1;
  color: white;
  font-weight: 200;
  margin-top: 0;
  padding: 20px;
  font-size: 28px;
}
@media (max-width: 769px) {
  /* line 348, ../scss/layout/_page.scss */
  .page__home .wrap__grey--light + .wrap ul li h3 {
    font-size: 18px;
    padding: 20px 5px;
  }
}

/* line 8, ../scss/utilities/_mixins.scss */
.btn__grey {
  background: #BBB5B1;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  float: left;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 15, ../scss/layout/_buttons.scss */
.btn__grey:hover {
  background: #afa8a3;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

/* line 7, ../scss/layout/_nav.scss */
.navbar {
  background: rgba(0, 0, 0, 0.3);
  height: 92px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 481px) {
  /* line 7, ../scss/layout/_nav.scss */
  .navbar {
    background: rgba(0, 0, 0, 0.9);
  }
}
/* line 16, ../scss/layout/_nav.scss */
.navbar .container {
  padding-top: 20px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 21, ../scss/layout/_nav.scss */
.navbar .navbar-brand {
  color: white;
  font-size: 38px;
  font-weight: 500;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 31, ../scss/layout/_nav.scss */
.navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 37, ../scss/layout/_nav.scss */
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #9BC962;
  background: none;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 48, ../scss/layout/_nav.scss */
.navbar-nav .active a {
  color: #9BC962;
}
/* line 8, ../scss/utilities/_mixins.scss */
.navbar-nav__right {
  float: right;
}
/* line 60, ../scss/layout/_nav.scss */
.navbar-nav__right li:first-of-type a {
  color: #9BC962;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-right: 0;
}
/* line 65, ../scss/layout/_nav.scss */
.navbar-nav__right li:first-of-type a:hover {
  color: #75a639;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 70, ../scss/layout/_nav.scss */
.navbar-nav__right li:first-of-type a:after {
  content: " | ";
  color: white;
  display: inline-block;
  margin-left: 15px;
}
/* line 83, ../scss/layout/_nav.scss */
.navbar-nav__right li:nth-of-type(2) a {
  color: #48C3E9;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 87, ../scss/layout/_nav.scss */
.navbar-nav__right li:nth-of-type(2) a:hover {
  color: #19a2cc;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 8, ../scss/utilities/_mixins.scss */
.navbar-nav__left {
  position: relative;
  left: 50px;
}
/* line 103, ../scss/layout/_nav.scss */
.navbar-nav .search {
  background-image: url("../images/elements/search.png");
  text-indent: -99999px;
  left: 20px;
  top: 5px;
  height: 30px;
  width: 21px;
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 0 8px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 115, ../scss/layout/_nav.scss */
.navbar-nav .search:hover {
  background-image: url("../images/elements/search_hover.png");
  background-position: 0 8px;
  height: 30px;
  width: 21px;
  background-size: 21px;
  background-repeat: no-repeat;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 127, ../scss/layout/_nav.scss */
.resize {
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 132, ../scss/layout/_nav.scss */
.resize .container {
  padding-top: 0px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 136, ../scss/layout/_nav.scss */
.resize .container .navbar-brand {
  font-size: 32px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 1201px) {
  /* line 136, ../scss/layout/_nav.scss */
  .resize .container .navbar-brand {
    font-size: 28px;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
@media (max-width: 769px) {
  /* line 146, ../scss/layout/_nav.scss */
  .resize .container .navbar-toggle {
    top: 0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

/* line 157, ../scss/layout/_nav.scss */
.navbar-toggle .icon-bar {
  background: #9BC962;
  width: 30px;
  height: 4px;
}

@media (max-width: 481px) {
  /* line 163, ../scss/layout/_nav.scss */
  .navbar-fixed-top {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 1201px) {
  /* line 172, ../scss/layout/_nav.scss */
  .navbar-toggle {
    display: block !important;
    margin-top: 3px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (max-width: 769px) {
  /* line 172, ../scss/layout/_nav.scss */
  .navbar-toggle {
    top: 25px;
    right: 0;
    position: absolute;
    margin-left: 20%;
    margin-bottom: 15%;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (max-width: 1201px) {
  /* line 189, ../scss/layout/_nav.scss */
  #navbar {
    display: none !important;
  }
}

/* line 8, ../scss/utilities/_mixins.scss */
.slider__front {
  height: 737px;
  background: grey;
  position: relative;
}
@media (max-width: 1501px) {
  /* line 8, ../scss/utilities/_mixins.scss */
  .slider__front {
    height: 675px;
  }
}
@media (max-width: 769px) {
  /* line 8, ../scss/utilities/_mixins.scss */
  .slider__front {
    height: 500px;
  }
}
@media (max-width: 481px) {
  /* line 8, ../scss/utilities/_mixins.scss */
  .slider__front {
    height: 250px;
  }
}
/* line 23, ../scss/layout/_slider.scss */
.slider__front .owl-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 999;
}
@media (max-width: 481px) {
  /* line 23, ../scss/layout/_slider.scss */
  .slider__front .owl-controls {
    display: none !important;
  }
}
/* line 33, ../scss/layout/_slider.scss */
.slider__front .owl-controls .owl-prev {
  position: absolute;
  left: 15%;
  background-image: url("../images/elements/arrow_left.png");
  height: 42px;
  width: 23px;
  text-indent: -99999px;
}
@media (max-width: 1501px) {
  /* line 33, ../scss/layout/_slider.scss */
  .slider__front .owl-controls .owl-prev {
    left: 8%;
  }
}
@media (max-width: 1201px) {
  /* line 33, ../scss/layout/_slider.scss */
  .slider__front .owl-controls .owl-prev {
    left: 5%;
  }
}
/* line 50, ../scss/layout/_slider.scss */
.slider__front .owl-controls .owl-next {
  position: absolute;
  right: 15%;
  background-image: url("../images/elements/arrow_right.png");
  height: 42px;
  width: 23px;
  text-indent: -99999px;
}
@media (max-width: 1501px) {
  /* line 50, ../scss/layout/_slider.scss */
  .slider__front .owl-controls .owl-next {
    right: 8%;
  }
}
@media (max-width: 1201px) {
  /* line 50, ../scss/layout/_slider.scss */
  .slider__front .owl-controls .owl-next {
    right: 5%;
  }
}
/* line 68, ../scss/layout/_slider.scss */
.slider__front .owl-pagination {
  position: absolute;
  top: 300px;
  z-index: 999;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
@media (max-width: 769px) {
  /* line 68, ../scss/layout/_slider.scss */
  .slider__front .owl-pagination {
    top: 200px;
  }
}
/* line 83, ../scss/layout/_slider.scss */
.slider__front .owl-pagination .owl-page {
  width: 15px;
  height: 15px;
  background: white;
  display: inline-block;
  margin: 5px;
  border-radius: 20px;
  border: 2px solid transparent;
}
/* line 93, ../scss/layout/_slider.scss */
.slider__front .owl-pagination .owl-page.active {
  background: transparent;
  border: 2px solid white;
}

/* line 101, ../scss/layout/_slider.scss */
.slide {
  height: 737px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 1501px) {
  /* line 101, ../scss/layout/_slider.scss */
  .slide {
    height: 675px;
  }
}
@media (max-width: 769px) {
  /* line 101, ../scss/layout/_slider.scss */
  .slide {
    height: 500px;
  }
}
@media (max-width: 481px) {
  /* line 101, ../scss/layout/_slider.scss */
  .slide {
    height: 250px;
  }
}
/* line 120, ../scss/layout/_slider.scss */
.slide:after {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  z-index: 0;
}
/* line 132, ../scss/layout/_slider.scss */
.slide .content {
  position: absolute;
  z-index: 99999;
  top: 40%;
  left: 22%;
}
@media (max-width: 1501px) {
  /* line 132, ../scss/layout/_slider.scss */
  .slide .content {
    left: 18%;
  }
}
@media (max-width: 769px) {
  /* line 132, ../scss/layout/_slider.scss */
  .slide .content {
    top: 30%;
    left: 15%;
  }
}
@media (max-width: 481px) {
  /* line 132, ../scss/layout/_slider.scss */
  .slide .content {
    top: 15%;
    left: 5%;
  }
}
/* line 152, ../scss/layout/_slider.scss */
.slide .content p {
  color: white;
}
/* line 156, ../scss/layout/_slider.scss */
.slide .content h2 {
  color: #9BC962;
  font-size: 42px;
  font-weight: 200;
  line-height: 1;
  margin: 0;
}
/* line 163, ../scss/layout/_slider.scss */
.slide .content h2 strong {
  font-size: 72px;
  font-weight: 500;
}
@media (max-width: 769px) {
  /* line 163, ../scss/layout/_slider.scss */
  .slide .content h2 strong {
    font-size: 38px;
  }
}
@media (max-width: 481px) {
  /* line 163, ../scss/layout/_slider.scss */
  .slide .content h2 strong {
    font-size: 32px;
    margin: 5px 0;
    float: left;
    width: 100%;
  }
}
@media (max-width: 769px) {
  /* line 156, ../scss/layout/_slider.scss */
  .slide .content h2 {
    font-size: 28px;
  }
}
@media (max-width: 481px) {
  /* line 156, ../scss/layout/_slider.scss */
  .slide .content h2 {
    font-size: 22px;
  }
}
/* line 188, ../scss/layout/_slider.scss */
.slide .content p {
  font-size: 18px;
}
@media (max-width: 481px) {
  /* line 188, ../scss/layout/_slider.scss */
  .slide .content p {
    font-size: 16px;
    width: 80%;
  }
}
/* line 197, ../scss/layout/_slider.scss */
.slide .content a {
  background: #48C3E9;
  color: white;
  text-transform: uppercase;
  padding: 12px 25px;
  float: left;
  margin-top: 25px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 481px) {
  /* line 197, ../scss/layout/_slider.scss */
  .slide .content a {
    margin-top: 10px;
  }
}
/* line 210, ../scss/layout/_slider.scss */
.slide .content a:hover {
  background: #9BC962;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
/* line 8, ../scss/utilities/_mixins.scss */
.slide__one {
  background: url("../images/slides/slide_01.jpg");
  background-size: cover;
  width: 100%;
}
/* line 8, ../scss/utilities/_mixins.scss */
.slide__two {
  background: url("../images/slides/slide_02.jpg");
  background-size: cover;
  width: 100%;
}
/* line 8, ../scss/utilities/_mixins.scss */
.slide__three {
  background: url("../images/slides/slide_03.jpg");
  background-size: cover;
  width: 100%;
}
/* line 8, ../scss/utilities/_mixins.scss */
.slide__four {
  background: url("../images/slides/slide_04.jpg");
  background-size: cover;
  width: 100%;
}
/* line 8, ../scss/utilities/_mixins.scss */
.slide__five {
  background: url("../images/slides/slide_05.jpg");
  background-size: cover;
  width: 100%;
}

/* line 8, ../scss/utilities/_mixins.scss */
.text__blue {
  color: #48C3E9;
}
/* line 8, ../scss/utilities/_mixins.scss */
.text__white {
  color: white;
}

/* line 20, ../scss/layout/_globals.scss */
.panel-group .panel {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/* line 28, ../scss/layout/_globals.scss */
.panel-group .panel .panel-heading {
  color: white;
  border-radius: 0;
  position: relative;
  padding: 0;
}
/* line 36, ../scss/layout/_globals.scss */
.panel-group .panel .panel-heading a {
  font-size: 18px;
  font-weight: 200;
  padding: 20px;
  width: 100%;
  display: block;
  background: #2FCDFF;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 769px) {
  /* line 36, ../scss/layout/_globals.scss */
  .panel-group .panel .panel-heading a {
    font-size: 16px;
  }
}
/* line 49, ../scss/layout/_globals.scss */
.panel-group .panel .panel-heading a:hover, .panel-group .panel .panel-heading a:focus {
  text-decoration: none;
  background: #00bffb;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 58, ../scss/layout/_globals.scss */
.panel-group .panel .panel-heading a[aria-expanded="true"]:after {
  content: " ";
  display: inline-block;
  background-image: url("../images/elements/rect_down.png");
  height: 15px;
  width: 15px;
  position: absolute;
  right: 10px;
  top: 25px;
  background-repeat: no-repeat;
}
/* line 72, ../scss/layout/_globals.scss */
.panel-group .panel .panel-heading a[aria-expanded="false"]:after {
  content: " ";
  display: inline-block;
  background-image: url("../images/elements/rect_right.png");
  height: 15px;
  width: 15px;
  position: absolute;
  right: 5px;
  background-repeat: no-repeat;
}
/* line 85, ../scss/layout/_globals.scss */
.panel-group .panel .panel-body {
  padding: 25px;
}
/* line 87, ../scss/layout/_globals.scss */
.panel-group .panel .panel-body p {
  font-size: 13px;
}

/* line 98, ../scss/layout/_globals.scss */
.embed-responsive {
  border: 18px solid white;
  margin: 20px 0;
  padding-bottom: 51%;
}
@media (max-width: 481px) {
  /* line 98, ../scss/layout/_globals.scss */
  .embed-responsive {
    border: 10px solid white;
  }
}

/* line 112, ../scss/layout/_globals.scss */
.social li a {
  display: block;
  background-color: #48C3E9;
  float: left;
  width: 37px;
  height: 37px;
  text-indent: -99999px;
  margin-right: 5px;
  background-position: 50%;
  background-repeat: no-repeat;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 769px) {
  /* line 112, ../scss/layout/_globals.scss */
  .social li a {
    width: 31px;
    height: 31px;
    background-size: 16px;
  }
}
/* line 130, ../scss/layout/_globals.scss */
.social li a:hover {
  background-color: #9BC962;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-position: 50%;
  background-repeat: no-repeat;
}
/* line 8, ../scss/utilities/_mixins.scss */
.social__facebook {
  background-image: url("../images/social/facebook.svg");
}
/* line 8, ../scss/utilities/_mixins.scss */
.social__twitter {
  background-image: url("../images/social/twitter.svg");
}
/* line 8, ../scss/utilities/_mixins.scss */
.social__linkedin {
  background-image: url("../images/social/linkedin.svg");
}
/* line 8, ../scss/utilities/_mixins.scss */
.social__youtube {
  background-image: url("../images/social/youtube.svg");
}

/* line 6, ../scss/layout/_footer.scss */
footer {
  background: #333333;
  color: white;
}
/* line 11, ../scss/layout/_footer.scss */
footer > .container {
  padding: 45px 0;
}
/* line 15, ../scss/layout/_footer.scss */
footer h6 {
  text-transform: uppercase;
  color: #DADADA;
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 15px;
}
/* line 26, ../scss/layout/_footer.scss */
footer .col-sm-3:first-of-type ul li {
  color: #929292;
  font-size: 13px;
  line-height: 1.8;
}
@media (max-width: 481px) {
  /* line 24, ../scss/layout/_footer.scss */
  footer .col-sm-3:first-of-type {
    width: 50%;
    float: left;
  }
}
/* line 43, ../scss/layout/_footer.scss */
footer .col-sm-3:nth-of-type(2) ul li {
  line-height: 1.8;
}
/* line 45, ../scss/layout/_footer.scss */
footer .col-sm-3:nth-of-type(2) ul li a {
  text-transform: uppercase;
  color: #929292;
  font-size: 13px;
}
@media (max-width: 481px) {
  /* line 42, ../scss/layout/_footer.scss */
  footer .col-sm-3:nth-of-type(2) ul {
    margin-bottom: 25px;
  }
}
@media (max-width: 481px) {
  /* line 41, ../scss/layout/_footer.scss */
  footer .col-sm-3:nth-of-type(2) {
    width: 50%;
    float: left;
  }
}
@media (max-width: 481px) {
  /* line 65, ../scss/layout/_footer.scss */
  footer .col-sm-3:nth-of-type(3) ul {
    width: 100%;
    float: left;
    margin-bottom: 25px;
  }
}
/* line 76, ../scss/layout/_footer.scss */
footer form input, footer form textarea {
  background: #434343;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  padding: 10px;
}
/* line 84, ../scss/layout/_footer.scss */
footer form input[type="submit"] {
  background-color: #9BC962;
  text-transform: uppercase;
  width: 45%;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 769px) {
  /* line 84, ../scss/layout/_footer.scss */
  footer form input[type="submit"] {
    width: 100%;
  }
}
/* line 94, ../scss/layout/_footer.scss */
footer form input[type="submit"]:hover {
  background-color: #48C3E9;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 101, ../scss/layout/_footer.scss */
footer .copyright {
  background: #000000;
  padding: 15px 0;
}
/* line 106, ../scss/layout/_footer.scss */
footer .copyright .col-sm-3 p {
  font-size: 13px;
}
/* line 110, ../scss/layout/_footer.scss */
footer .copyright .col-sm-3:first-of-type {
  text-transform: uppercase;
}
/* line 117, ../scss/layout/_footer.scss */
footer .copyright .col-sm-3.col-sm-offset-6 p {
  float: left;
  margin-left: 33%;
}
@media (max-width: 769px) {
  /* line 117, ../scss/layout/_footer.scss */
  footer .copyright .col-sm-3.col-sm-offset-6 p {
    margin-left: 0;
  }
}
/* line 126, ../scss/layout/_footer.scss */
footer .copyright .col-sm-3.col-sm-offset-6 img {
  float: right;
  margin: 3px 10px;
}
@media (max-width: 769px) {
  /* line 126, ../scss/layout/_footer.scss */
  footer .copyright .col-sm-3.col-sm-offset-6 img {
    margin: 5px 1px;
    max-width: 100px;
    height: auto;
  }
}
@media (max-width: 481px) {
  /* line 126, ../scss/layout/_footer.scss */
  footer .copyright .col-sm-3.col-sm-offset-6 img {
    margin: 2px 1px;
    max-width: 90px;
  }
}
/* line 145, ../scss/layout/_footer.scss */
footer ul {
  padding-left: 0;
}
/* line 147, ../scss/layout/_footer.scss */
footer ul li {
  list-style-type: none;
}
