// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$roboto	: 'Roboto', sans-serif;


// Descriptive Base Colors

$brandGreenLight	: #9BC962;
$brandBlue			: #48C3E9;
$brandGrey			: #DDDAD7;
$brandGreyLight		: #F1F1F1;


// Breakpoints


// Breakpoints

$brkpoint-base		: 1px;
$brkpoint-iphone 	: 320px;
$brkpoint-galaxy	: 360px;
$brkpoint-iphone6	: 375px;
$brkpoint-phone 	: 480px;
$brkpoint-tablet	: 768px;
$brkpoint-desktop	: 992px;
$brkpoint-large		: 1200px;
$brkpoint-xlarge	: 1500px;
