// ==========================================================================
// Mixins
// ==========================================================================

// BEM selectors

@mixin e($element) {
	&__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Media queries

@mixin mq($break) {
  @if $break == "iphone" {
    @media (max-width: $brkpoint-iphone +1) {
      @content;
    }
  }
  @else if $break == "galaxy" {
    @media (max-width: $brkpoint-galaxy +1) {
      @content;
    }
  }
  @else if $break == "iphone6" {
    @media (max-width: $brkpoint-iphone6 +1) {
      @content;
    }
  }
  @else if $break == "phone" {
    @media (max-width: $brkpoint-phone + 1) {
      @content;
    }
  }
  @else if $break == "tablet" {
    @media (max-width: $brkpoint-tablet + 1) {
      @content;
    }
  }
  @else if $break == "desktop" {
    @media (max-width: $brkpoint-desktop + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (max-width: $brkpoint-large + 1) {
      @content;
    }
  }
  @else if $break == "xlarge" {
    @media (max-width: $brkpoint-xlarge + 1) {
      @content;
    }
  }
   @else {
    @error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}
