 // ==========================================================================
// Blocks
// ==========================================================================

.wrap {
	padding: 50px 0;

	@include e(green){
		@include m(light){
			background-color: $brandGreenLight;
		}
	}

	@include e(blue){
		background-color: $brandBlue;
	}

	@include e(grey){
		background-color: $brandGrey;

		@include m(light){
			background-color: $brandGreyLight;
		}
	}
}