// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	@include e(grey){
		background: #BBB5B1;
		color: white;
		text-align: center;
		text-transform: uppercase;
		padding: 15px 30px;
    	float: left;
    	@include transition(0.5s);

		&:hover {
			background: darken(#BBB5B1, 5%);
			@include transition(0.5s);
			color: white;
			text-decoration: none;
		}
	}
}