// ==========================================================================
// Footer
// ==========================================================================


footer {
	background: #333333;
	color: white;
	

	> .container{
		padding: 45px 0;
	}

	h6 {
		text-transform: uppercase;
		color: #DADADA;
		font-weight: 400;
    	margin-bottom: 25px;
    	font-size: 15px;
	}

	.col-sm-3 {
		&:first-of-type {
			ul {
				li {
					color: #929292;
					font-size: 13px;
					line-height: 1.8;

				}
			}

			@include mq(phone){
				width: 50%;
				float: left;

			}
		}

		&:nth-of-type(2){
			ul {
				li {
					line-height: 1.8;
					a {
						text-transform: uppercase;
						color: #929292;
						font-size: 13px;
					}
				}

				@include mq(phone){
					margin-bottom: 25px;
				}
			}

			@include mq(phone){
				width: 50%;
				float: left;

			}
		}

		&:nth-of-type(3){
			ul {
				@include mq(phone){
					width: 100%;
					float: left;
					margin-bottom: 25px;
				}
			}
		}
	}

	form {
		input , textarea {
			background: #434343;
			margin-bottom: 15px;
			width: 100%;
			border: none;
    		padding: 10px;
		}

		input[type="submit"]{
			background-color: $brandGreenLight;
			text-transform: uppercase;
			width: 45%;
			@include transition(0.5s);

			@include mq(tablet){
				width: 100%;
			}

			&:hover {
				background-color: $brandBlue;
				@include transition(0.5s);
			}
		}
	}

	.copyright {
		background: #000000;
		padding: 15px 0;

		.col-sm-3 {
			p {
				font-size: 13px;
			}

			&:first-of-type {
								text-transform: uppercase;
			}
		}

		.col-sm-3.col-sm-offset-6 {

			p {
				float: left;
				margin-left: 33%;

				@include mq(tablet){
					margin-left: 0;
				}
			}

			img {
				float: right;
				margin: 3px 10px;

				@include mq(tablet){
				    margin: 5px 1px;
				    max-width: 100px;
				    height: auto;
				}

				@include mq(phone){
					    margin: 2px 1px;
    					max-width: 90px;
				}
			}

		}
	}

	ul {
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}

}