// ==========================================================================
// Global
// ==========================================================================

// Font Wraps

.text {
	@include e(blue){
		color: $brandBlue;
	}

	@include e(white){
		color: white;
	}
}

// Panels

.panel-group {
	.panel {
		padding: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		


			.panel-heading {
				
				color: white;
				border-radius: 0;
				position: relative;
				padding: 0;
				

				a {
					font-size: 18px;
					font-weight: 200;
				    padding: 20px;
				    width: 100%;
				    display: block;
				    background: #2FCDFF;
				    @include transition(0.5s);

				    @include mq(tablet){
				    	font-size: 16px;
				    }

					&:hover , &:focus {
						text-decoration: none;
						background: darken(#2FCDFF, 10%);
						@include transition(0.5s);
					}

				}

				a[aria-expanded="true"]{
						&:after {
						content: " ";
						display: inline-block;
						background-image: url('../images/elements/rect_down.png');
						height: 15px;
						width: 15px;
						position: absolute;
						right: 10px;
    					top: 25px;
    					background-repeat: no-repeat;
					}
				}

				a[aria-expanded="false"]{
						&:after {
    					content: " ";
						display: inline-block;
						background-image: url('../images/elements/rect_right.png');
						height: 15px;
						width: 15px;
						position: absolute;
						right: 5px;
    					background-repeat: no-repeat;
					}
				}
			}

			.panel-body {
				padding: 25px;
				p {
					font-size: 13px;
				}
			}


	}
}

// Video

.embed-responsive {
	border: 18px solid white;
	margin: 20px 0;
	padding-bottom: 51%;

	@include mq(phone){
		border: 10px solid white;
	}

}

// Social Links 

.social {
	li a {
	display: block;
    background-color: #48C3E9;
    float: left;
    width: 37px;
    height: 37px;
    text-indent: -99999px;
    margin-right: 5px;
    background-position: 50%;
    background-repeat: no-repeat;
    @include transition(0.5s);

    @include mq(tablet){
    	    width: 31px;
    		height: 31px;
    		background-size: 16px;
    }

    &:hover {
    	background-color: $brandGreenLight;
    	@include transition(0.5s);
    	background-position: 50%;
    	background-repeat: no-repeat;
    }
	}

	@include e(facebook){
		background-image: url('../images/social/facebook.svg');
	}

	@include e(twitter){
		background-image: url('../images/social/twitter.svg');
	}

	@include e(linkedin){
		background-image: url('../images/social/linkedin.svg');
	}

	@include e(youtube){
		background-image: url('../images/social/youtube.svg');
	}
}

