// ==========================================================================
// Navigation
// ==========================================================================



.navbar {
	    background: rgba(0, 0, 0, 0.3);
	    height: 92px;
	    @include transition(0.5s);

	    @include mq(phone){
	    	background: rgba(0, 0, 0, 0.9);
	    }
	    
	    .container {
	    	padding-top: 20px;
	    	@include transition(0.5s);
	    }

	    .navbar-brand {
	    		color: white;
	    		font-size: 38px;
    			font-weight: 500;
    			@include transition(0.5s);
	    }
}

.navbar-nav {
		    > li {
	    	> a {
	    		color: white;
	    		text-transform: uppercase;
	    		font-size: 13px;
	    		@include transition(0.2s);

	    		&:hover , &:focus {
	    			color: $brandGreenLight;
	    			background: none;
	    			@include transition(0.2s);
	    		}
	    	}


	    }

	    	.active {
		    	a {
		    		color: $brandGreenLight;
		    	}
		    }

	    @include e(right){
	    	float: right;

	    	li {


	    		&:first-of-type {
	    			a {
	    				color: $brandGreenLight;
	    				@include transition(0.5s);
	    				padding-right: 0;

	    				&:hover {
	    					color: darken($brandGreenLight, 15%);
	    					@include transition(0.5s);
	    				}

	    				&:after {
		    				content: " | ";
		    				color: white;
		    				display: inline-block;
		    				margin-left: 15px;

		    			}
	    			}


	    		}

	    		&:nth-of-type(2){
	    			a {
	    				color: $brandBlue;
	    				@include transition(0.5s);

	    				&:hover {
	    					color: darken($brandBlue, 15%);
	    					@include transition(0.5s);
	    				}
	    			}
	    		}
	    	}
	    }

	    @include e(left){
	    	position: relative;
	    	left: 50px;
	    }

	    // Search

		.search {
			background-image: url('../images/elements/search.png');
			text-indent: -99999px;
			left: 20px;
		    top: 5px;
			height: 30px;
			width: 21px;
			background-size: 21px;
			background-repeat: no-repeat;
			background-position: 0 8px;
			@include transition(0.5s);

			&:hover {
				background-image: url('../images/elements/search_hover.png');
				background-position: 0 8px;
				height: 30px;
				width: 21px;
				background-size: 21px;
				background-repeat: no-repeat;
				@include transition(0.5s);
			}
		}
}

.resize {
	height: 50px;
	background: rgba(0, 0, 0, 0.6);
	@include transition(0.5s);

	.container {
		padding-top: 0px;
		@include transition(0.5s);

		.navbar-brand {
			font-size: 32px;
			@include transition(0.5s);

			@include mq(large){
				font-size: 28px;
				@include transition(0.2s);
			}
		}

		.navbar-toggle {
			@include mq(tablet){
				top: 0;
				@include transition(0.5s);
			}
		}
	}
}

// Mobile Nav

.navbar-toggle .icon-bar {
	background: $brandGreenLight;
    width: 30px;
    height: 4px;
}

.navbar-fixed-top {
	@include mq(phone){
		position: relative;
		margin-bottom: 0;
	}
}

// Mobile Nav on Small Screen

.navbar-toggle {
	@include mq(large){
		display: block !important;
		margin-top: 3px;
		
	}

	@include mq(tablet){
		top: 25px;
    	right: 0;
    	position: absolute;
    	margin-left: 20%;
    	margin-bottom: 15%;
    	@include transition(0.5s);
	}
}

#navbar {
	@include mq(large){
		display: none !important;
	}
}


