// ==========================================================================
// Page Specific
// ==========================================================================

.page {
	// Home Page
	@include e(home){

		.slider__front + .wrap__green--light {
			border-top: 35px solid #81AC4C;
			text-align: center;

			p {
				font-size: 16px;
			}
		}

		.wrap__green--light {			
			color: white;
		}

		.wrap__blue {
			color: white;
			padding: 75px 0;
			display: block;
  			position: relative;
  			z-index: 0;

  			.col-sm-5 {
  				text-align: center;

  				@include mq(phone){
  					display: none;
  				}
  			}

  			.col-sm-8 {
  					padding-left: 0;
  			}

  			h2 {
				font-weight: 500;
				font-size: 43px;
			}

			&:after {
				opacity: 0.2;
				background-image: url("../images/numbers_review.jpg");
				background-size: cover;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				position: absolute;
				content: " ";
			}



		}

		.wrap__white {
			text-align: center;
			h2 {
				color: #3399BB;
				margin-bottom: 45px;
				font-size: 36px;
			}

			p {
				color: #929292;
				margin-bottom: 45px;
			}

			.col-sm-4 {
				.img_wrap {
					background: $brandGreenLight;
				    padding: 22px 0;
				    height: 100px;
				    width: 100px;
				    display: block;
				    margin: 0 auto;
				    border-radius: 50px;
				    margin-bottom: 25px;
				}
			}

			+ .wrap__green--light{
				h2 {
					font-weight: 400;
					margin-bottom: 25px;
					font-size: 30px;

					@include mq(tablet){
						font-size: 24px;
					}
				}

				p {
					font-size: 13px;
				}
			}
		}

		.wrap__grey {
			color: #6E6B67;

			h2 {
				font-size: 30px;
			}

			.col-sm-5 {
				.name_wrap {
					background: $brandBlue;
					display: block;
				    width: 351px;
				    height: 351px;
				    border-radius: 250px;
				    text-align: center;
				    padding: 25% 0;
				    color: white;

				    @include mq(tablet){
				    	    width: 250px;
    						height: 250px;
    						padding: 30% 0;
				    }

				    @include mq(phone){
				    	height: 200px;
				    	width: 200px;
				    	padding: 22% 0;
				    	margin-left: 20%;
				    	margin-bottom: 15%;
				    }
				    

				    h2 {
				    	text-transform: uppercase;
				    	font-weight: 500;
				    	font-size: 100px;
				    	font-style: italic;

				    	@include mq(tablet){
				    		font-size: 70px;
				    	}

				    	@include mq(phone){
				    		font-size: 50px;
				    	}
				    }
				}
			}

			h2 {
				font-weight: 300;
			}

			p {
				margin-bottom: 25px;
			}
		}

		.wrap__grey--light {
			
			h2 , h2 + p {
				text-align: center;
			}

			h2 {
				color: #3399BB;
				font-weight: 400;
			}

			.col-sm-4 {
				h3 {
					font-size: 24px;
					background: $brandGreenLight;
				    color: white;
				    text-align: center;
				    font-weight: 300;
				    padding: 15px;

				    @include mq(tablet){
				    	font-size: 16px;
				    }
				}
			}


		}

		.wrap__grey--light + .wrap {
				text-align: center;
				h2 {
					color: #3399BB;
				}

				i {
					font-size: 24px;
					font-weight: 400;
					color: #2FCDFF;
					margin-top: 25px;
					margin-bottom: 20px;
				    float: left;
				    width: 100%;
				}

				.col-sm-6  {
					p {
						font-size: 13px;
					}
					margin-bottom: 25px;
				}

				.col-sm-8 {
					p {
						font-size: 11px;
					}
				}

				ul {
					float: left;
					width: 100%;

					@include mq(phone){
						padding-left: 0;
					}

					li {
						width: 19.5%;
						float: left;
						list-style-type: none;
						background: #F7F7F7;
						height: 325px;
						margin-right: 0.5%;
						position: relative;
						@include transition(0.5s);

						@include mq(tablet){
							height: 270px;
						}

						@include mq(phone){
							height: 250px;
							width: 100%;
							margin-bottom: 15px;
						}

						&:hover {
							@include transition(0.5s);

							h3 {
								background-color: $brandGreenLight;
							}

							p {
								color: $brandGreenLight;
							}

							a {
								background: $brandBlue;
							}
						}

						p {
							font-style: italic;
							font-style: italic;
						    font-size: 60px;
						    font-weight: 500;
						    letter-spacing: -2px;
						    color: #BBB5B1;
						    position: relative;

						    @include mq(tablet){
						    	font-size: 50px;
						    }

						    &:before {
						    	content: " $ ";
						    	position: absolute;
						    	font-size: 24px;
						    	left: 30%;
    							top: 5%;

    							@include mq(tablet){
    								left: 15%;
    								font-size: 20px;
    							}

    							@include mq(phone){
    								    left: 36%;
    									font-size: 28px;
    							}
						    }
							
							&:after {
								content: " / pm ";
								font-size: 14px;
								position: absolute;
								top: 60%;
    							letter-spacing: 1px;

    							@include mq(tablet){
    								font-size: 12px;
    							}

    							@include mq(phone){
    								font-size: 16px;
    							}
							}
						}

						strong {
							float: left;
							margin-top: 15px;
							font-size: 24px;
							font-style: italic;
							text-transform: uppercase;
							color: #707070;
							width: 100%;

							@include mq(tablet){
								font-size: 16px;
							}
						}

						a {
						    background: #BBB5B1;
						    padding: 15px 25px;
						    width: 85%;
						    text-transform: uppercase;
						    color: white;
						    display: block;
						    margin: 0 auto;

						    &:hover {
						    	background-color: darken($brandBlue, 15%);
						    	text-decoration: none;
						    }

						    @include mq(tablet){
						    	    padding: 15px 10px;
						    }
						}

						h3 {
							width: 100%;
							background: #BBB5B1;
							color: white;
							font-weight: 200;
							margin-top: 0;
							padding: 20px;
							font-size: 28px;

							@include mq(tablet){
								font-size: 18px;
								padding: 20px 5px;
							}
						}
					}
				}
			}

	}

}