// ==========================================================================
// Slider
// ==========================================================================

.slider {
	@include e(front){
		height: 737px;
		background: grey;
		position: relative;

		@include mq(xlarge){
			height: 675px;
		}

		@include mq(tablet){
			height: 500px;
		}

		@include mq(phone){
			height: 250px;
		}

		.owl-controls {
		    position: absolute;
		    top: 50%;
		    width: 100%;
		    z-index: 999;

		    @include mq(phone){
		    	display: none !important;
		    }

		    .owl-prev {
			    position: absolute;
			    left: 15%;
			    background-image: url('../images/elements/arrow_left.png');
			    height: 42px;
			    width: 23px;
			    text-indent: -99999px;

			    @include mq(xlarge){
					left: 8%;
			    }

			    @include mq(large){
			    	left: 5%;
			    }
			}

			.owl-next {
			    position: absolute;
			    right: 15%;
			    background-image: url('../images/elements/arrow_right.png');
			    height: 42px;
			    width: 23px;
			    text-indent: -99999px;

			    @include mq(xlarge){
			    	right: 8%;
			    }

			    @include mq(large){
			    	right: 5%;
			    }
			}
		}

		.owl-pagination {
				position: absolute;
			    top: 300px;
			    z-index: 999;
			    width: 200px;
			    height: 50px;
			    margin: 0 auto;
			    left: 0;
			    right: 0;
			    text-align: center;

			    @include mq(tablet){
			    	top: 200px;
			    }

			    .owl-page {
				    width: 15px;
				    height: 15px;
				    background: white;
				    display: inline-block;
				    margin: 5px;
				    border-radius: 20px;
				    border: 2px solid transparent;
			    }

			    .owl-page.active {
			    	background: transparent;
			    	border: 2px solid white;
			    }
		}
	}
}

.slide {
	height: 737px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

			@include mq(xlarge){
			height: 675px;
		}

	@include mq(tablet){
		height: 500px;
	}

	@include mq(phone){
		height: 250px;
	}


		&:after {
			background: rgba(0, 0, 0, 0.35);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: " ";
			z-index: 0;
		}


	.content {
		position: absolute;
		z-index: 99999;
		top: 40%;
    	left: 22%;

    	@include mq(xlarge){
    		left: 18%;
    	}

    	@include mq(tablet){
    		    top: 30%;
    			left: 15%;
    	}

    	@include mq(phone){
    		    top: 15%;
    			left: 5%;
    	}

    	p {
    		color: white;
    	}

    	h2 {
    		color: $brandGreenLight;
    		font-size: 42px;
    		font-weight: 200;
    		line-height: 1;
    		margin: 0;

    		strong {
    			font-size: 72px;
    			font-weight: 500;

    			@include mq(tablet){
    				font-size: 38px;
    			}

    			@include mq(phone){
    				    font-size: 32px;
					    margin: 5px 0;
					    float: left;
					    width: 100%;
    			}
    		}

    		@include mq(tablet){
    			font-size: 28px;
    		}

    		@include mq(phone){
    			font-size: 22px;
    		}
    	}

    	p {
    		font-size: 18px;

    		@include mq(phone){
    			    font-size: 16px;
    				width: 80%;
    		}
    	}

    	a {
    		background: $brandBlue;
    		color: white;
    		text-transform: uppercase;
    		padding: 12px 25px;
		    float: left;
		    margin-top: 25px;
		    @include transition(0.5s);

		    @include mq(phone){
		    	margin-top: 10px;
		    }

		    &:hover {
		    	background: $brandGreenLight;
		    	@include transition(0.5s);
		    	text-decoration: none;
		    }
    	}



	}

	@include e(one){
		background: url('../images/slides/slide_01.jpg');
		background-size: cover;
    	width: 100%;
	}

	@include e(two){
		background: url('../images/slides/slide_02.jpg');
		background-size: cover;
    	width: 100%;
	}

	@include e(three){
		background: url('../images/slides/slide_03.jpg');
		background-size: cover;
    	width: 100%;
	}

	@include e(four){
		background: url('../images/slides/slide_04.jpg');
		background-size: cover;
    	width: 100%;
	}

	@include e(five){
		background: url('../images/slides/slide_05.jpg');
		background-size: cover;
    	width: 100%;
	}
}