// ==========================================================================
// Base Styles
// ==========================================================================

body {
	background: white;
	font-family: $roboto;

	p {
		font-size: 14px;
		line-height: 1.8;
		font-weight: 300;

		@include mq(phone){
			line-height: 1.45;
		}
	}

	h2 {
		font-size: 36px;
		font-weight: 300;
		margin-top: 0;
	}
}